In [1]:
import matplotlib.pyplot as plt
import pandas as pd
from pathlib import Path
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA
from sklearn.cluster import KMeans
import matplotlib.pyplot as plt
%matplotlib inline
import numpy as np
from sklearn.datasets import make_classification
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.datasets import make_regression, make_swiss_roll
from sklearn.linear_model import LinearRegression, Ridge, Lasso, ElasticNet
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report, confusion_matrix

MACHINE LEARNING

I - SUPERVISED LEARNING

In [2]:
# Import the data
file_path = Path("/content/Copy_of_myopia.csv")
df = pd.read_csv(file_path)
df.head()

,ID,STUDYYEAR,MYOPIC,AGE,GENDER,SPHEQ,AL,ACD,LT,VCD,SPORTHR,READHR,COMPHR,STUDYHR,TVHR,DIOPTERHR,MOMMY,DADMY
0,1,1992,1,6,1,-0.052,21.89,3.690,3.498,14.70,45,8,0,0,10,34,1,1
1,2,1995,0,6,1,0.608,22.38,3.702,3.392,15.29,4,0,1,1,7,12,1,1
2,3,1991,0,6,1,1.179,22.49,3.462,3.514,15.52,14,0,2,0,10,14,0,0
3,4,1990,1,6,1,0.525,22.20,3.862,3.612,14.73,18,11,0,0,4,37,0,1
4,5,1995,0,5,0,0.697,23.29,3.676,3.454,16.16,14,0,0,0,4,4,1,0

In [3]:
#Split data into X and y
X = df.drop(columns=["MYOPIC", "DIOPTERHR"])
y = df["MYOPIC"]

In [4]:
X.head()

,ID,STUDYYEAR,AGE,GENDER,SPHEQ,AL,ACD,LT,VCD,SPORTHR,READHR,COMPHR,STUDYHR,TVHR,MOMMY,DADMY
0,1,1992,6,1,-0.052,21.89,3.690,3.498,14.70,45,8,0,0,10,1,1
1,2,1995,6,1,0.608,22.38,3.702,3.392,15.29,4,0,1,1,7,1,1
2,3,1991,6,1,1.179,22.49,3.462,3.514,15.52,14,0,2,0,10,0,0
3,4,1990,6,1,0.525,22.20,3.862,3.612,14.73,18,11,0,0,4,0,1
4,5,1995,5,0,0.697,23.29,3.676,3.454,16.16,14,0,0,0,4,1,0

In [5]:
y.head()

0    1
1    0
2    0
3    1
4    0
Name: MYOPIC, dtype: int64

Split the Data

In [6]:
# Split the data into X_train, X_test, y_train, y_test
# X, y = make_classification(random_state=1)
# X = pd.DataFrame(X)
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)
scaler = StandardScaler().fit(X_train)
X_train_scaled = scaler.transform(X_train)
X_test_scaled = scaler.transform(X_test)

BUILDING MODELS

1- RANDOM FOREST

In [7]:
clf = RandomForestClassifier(random_state=1)
clf.fit(X_train_scaled, y_train)
print(f'Training Score: {clf.score(X_train_scaled, y_train)}')
print(f'Testing Score: {clf.score(X_test_scaled, y_test)}')

Training Score: 1.0
Testing Score: 0.8903225806451613

2 - LOGISTIC REGRESSION

In [8]:
classifier = LogisticRegression()
classifier.fit(X_train_scaled, y_train)
print(f"Training Data Score: {classifier.score(X_train_scaled, y_train)}")
print(f'Testing Score: {classifier.score(X_test_scaled, y_test)}')

Training Data Score: 0.896328293736501
Testing Score: 0.9161290322580645

In [9]:
from sklearn.metrics import confusion_matrix
y_true = y_test
y_pred = classifier.predict(X_test)
confusion_matrix(y_true, y_pred)

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:444: UserWarning: X has feature names, but LogisticRegression was fitted without feature names
  f"X has feature names, but {self.__class__.__name__} was fitted without"

array([[  0, 137],
       [  0,  18]])